body{ 
    background-color:#e5dce9;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;

}
.Imagen{
    width: 150px;
}

#Imagen-2{
    width: 150px;
    border-radius: 20px;
    border: 2px dashed #00cafd;
}

#gallery{
    padding: 10px;
    text-align: center;
}

#gallery img{
    width: 200px;
    margin: 5px;
    text-align: center;
}